<html>
  <head>
    <style>
      body{
        background-color: white
      }
    </style>
  </head>
  <body>
    <div id= 'title'>
      <h1>Hangman</h1>
    </div>
    <div id= 'main'>
      <div id= 'gallows'>
      </div>
      <div id= 'wrong_letters'>
      </div>
      <div id= 'word'>
      </div>
    </div>
  <div id= 'keyboard'>
  </div>
  <button type= 'button'>Load</button>
  <button type= 'button'>Save</button>
  </body>
</html>
