<html>
  <head>

  </head>
  <body>
    <div id= 'title'>
      <h1>Hangman</h1>
    </div>
    <div id= 'main'>
      <div id= 'gallows'>
        <%= chances %>
      </div>
      <div id= 'wrong_letters'>
        <%= wrong_letters %>
      </div>
      <div id= 'word'>
        <%= hang_word %>
      </div>
    </div>
    <form action= '/guess', method='post'>
    <label>Enter Letter: </label>
      <input type='text' name='letter' />
      <input type='submit' value='Guess' />
    </form>
  </body>
</html>
