<html>
  <head>

  </head>
  <body>
    <div id= 'title'>
      <h1>Hangman</h1>
    </div>
    <div id= 'main'>
      <div id= 'gallows'>
        <%= gallows %>
      </div>
      <div id= 'wrong_letters'>
        <%= wrong_letters %>
      </div>
      <div id= 'word'>
        <%= word %>
      </div>
    </div>
    <form>
    <label>Enter Letter: </label>
      <input type='text' name='letter' />
      <input type='submit' value='Guess' />
    </form>
  <button type= 'button'>Load</button>
  <button type= 'button'>Save</button>
  </body>
</html>
