<html>
  <head>

  </head>
  <body>
    <div id= 'title'>
      <h1>Hangman</h1>
    </div>
    <div id= 'main'>
      <div id= 'message'>
        <p> Congratulations! You got figured out the word! </p>
      </div>
      <form action='/new'>
           <input type='submit' value='New Game' >
     </form>
  </body>
</html>
